# GeoIP Database (too large to upload)
GeoLite2-City.mmdb

# Python cache files
__pycache__/
*.pyc
*.pyo

# Mac system files
.DS_Store

# VS Code settings
.vscode

# Generated output map
*.html

# Virtual environment
venv/
env/
